<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/system_file.xsd">
    <system>
        <tab id="iwd" translate="label" sortOrder="999998" class="iwd-extensions-tab">
            <label>IWD Agency</label>
        </tab>
        <section id="iwd_opc" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Suite</label>
            <tab>iwd</tab>
            <resource>IWD_Opc::system_config</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Version</frontend_model>
                </field>
                <field id="documentation" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Documentation</label>
                    <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Documentation</frontend_model>
                </field>
                <field id="enable" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="extended" translate="label" type="text"
                   sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Default Configurations</label>
                <field id="title" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Title</label>
                </field>
                <field id="use_iwd_checkout_experience" translate="label comment" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IWD Login/Account Creation Checkout Experience</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment><![CDATA[If enabled, users will be able to checkout without logging in.  Existing customers will have the order associated with their account, while guests will have an account created for them. <br><br> If disabled, checkout will follow default Magento guest checkout user flow.]]></comment>
                </field>
                <field id="show_discount" translate="label" type="select"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show discount form?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_comment" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show comment field?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_subscribe" translate="label" type="select"
                       sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Subscribe to Newsletter?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label comment" type="select"
                       sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Shipping Method</label>
                    <source_model>IWD\Opc\Model\Config\Source\Shipping</source_model>
                </field>
                <field id="default_payment_method" translate="label" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Payment Method</label>
                    <source_model>IWD\Opc\Model\Config\Source\Payment</source_model>
                </field>
                <field id="gm_autocomplete" translate="label" type="select"
                       sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Google Maps Autocomplete</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gm_apikey" translate="label comment" type="text"
                       sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API Key</label>
                    <comment><![CDATA[ For more information <a href="https://developers.google.com/maps/documentation/javascript/get-api-key">see</a>]]></comment>
                    <depends>
                        <field id="gm_autocomplete">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="restrict_payment" translate="label" type="text"
                   sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Restrict Payment Methods by Group</label>
                <field id="enable" translate="label" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="methods" translate="label" type="select"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Restrict Payments</label>
                    <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\RestrictPayment</frontend_model>
                    <backend_model>IWD\Opc\Model\Config\Backend\RestrictPayment</backend_model>
                </field>
            </group>
            <group id="ga_ab_test" translate="label" type="text"
                   sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google Analytics Web Experiments</label>
                <field id="enable" translate="label comment" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[To use Google Analytics Web Experiments you should enable and configure Google Analytics for your website in "System/Sales/Google API". Also, you should configure 2 variants(pages) of experiment: "Native checkout page" - original page(with url "@your_store_url@/checkout") and "IWD Checkout Page"(with url "@your_store_url@/onepage").]]></comment>
                </field>
                <field id="code" translate="label comment" type="textarea"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Analytics Experiment code</label>
                    <comment><![CDATA[You will get this code after experiment registered in Google Analytics account]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="design" translate="label" type="text"
                   sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customize Checkout Design</label>
                <group id="layout" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layouts</label>
                    <field id="desktop" translate="label" type="select"
                           sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Design for Desktop Resolution</label>
                        <source_model>IWD\Opc\Block\Adminhtml\System\Config\Layout\Resolution\Desktop</source_model>
                    </field>
                    <field id="mobile" translate="label" type="select"
                           sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Design for Mobile Resolution</label>
                        <source_model>IWD\Opc\Block\Adminhtml\System\Config\Layout\Resolution\Mobile</source_model>
                    </field>
                    <field id="tablet" translate="label" type="select"
                           sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Design for Tablet Resolution</label>
                        <source_model>IWD\Opc\Block\Adminhtml\System\Config\Layout\Resolution\Tablet</source_model>
                    </field>
                    <field id="address_type_order" translate="label" type="select"
                           sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Address Forms Order</label>
                        <source_model>IWD\Opc\Block\Adminhtml\System\Config\Layout\Address\FormOrder</source_model>
                    </field>
                </group>
                <group id="style" translate="label" type="text"
                       sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font &amp; Colors</label>
                    <field id="font" translate="label" type="select"
                           sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Font Family</label>
                        <source_model>IWD\Opc\Block\Adminhtml\System\Config\Style\Font</source_model>
                    </field>
                    <field id="page_background" translate="label" type="text"
                           sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Page Background</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to the Checkout Page Background.]]></comment>
                    </field>
                    <field id="sidebar_background" translate="label" type="text"
                           sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sidebar Background</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to the Checkout Right Sidebar Background.]]></comment>
                    </field>
                    <field id="heading_text_color" translate="label" type="text"
                           sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Heading Text Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Headings and Titles.]]></comment>
                    </field>
                    <field id="body_text_color" translate="label" type="text"
                           sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Body Text Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to any Body or Informational Text.]]></comment>
                    </field>
                    <field id="link_color" translate="label" type="text"
                           sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Link Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to all Links on the Checkout Page.]]></comment>
                    </field>
                    <field id="input_highlight_color" translate="label" type="text"
                           sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Highlight Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Highlight Chosen Options and Focus Input Fields.]]></comment>
                    </field>
                    <field id="primary_btn_background" translate="label" type="text"
                           sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Primary Button Background</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Primary Action Buttons Background.<br/>
                                    Ex: Continue To Delivery Method, Continue To Payment, Place Order.]]></comment>
                    </field>
                    <field id="primary_btn_text_color" translate="label" type="text"
                           sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Primary Button Text Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Primary Action Buttons Text.<br/>
                                    Ex: Continue To Delivery Method, Continue To Payment, Place Order.]]></comment>
                    </field>
                    <field id="secondary_btn_background" translate="label" type="text"
                           sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secondary Button Background</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Secondary Action Buttons Background.<br/>
                                    Ex: Log In, Reset, Apply a Promo Code.]]></comment>
                    </field>
                    <field id="secondary_btn_text_color" translate="label" type="text"
                           sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Secondary Button Text Color</label>
                        <frontend_model>IWD\Opc\Block\Adminhtml\System\Config\Style\ColorPicker</frontend_model>
                        <comment><![CDATA[This color will be applied to Secondary Action Buttons Text.<br/>
                                    Ex: Log In, Reset, Apply a Promo Code.]]></comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>