<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="BexioSync_BexioSync::base" title="Bexio Sync"/>
            <resource id="Magento_Backend::admin">
                <resource id="BexioSync_BexioSync::bexio_config" title="Bexio Sync" sortOrder="10"/>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="BexioSync_BexioSync::config" title="Configuration"/>
                        </resource>
                    </resource>
                </resource>
            </resource>                
        </resources>
    </acl>
</config>
