<<<<<<< HEAD
.products-grid .product-item-name a {
    display: inline-block;
    font-weight: bolder;
}
=======
.product.attribute.overview {
  font-weight: bold;
}
.value {
  font-weight: bold;
}
.filter-options-item.allow.active {
  display: none !important;
}
>>>>>>> 06dd65dee2144c80c5f7bb08872046ec6b01125d
