.product.attribute.overview {
  font-weight: bold;
}
.value {
  font-weight: bold;
}
.filter-options-item.allow.active {
  display: none !important;
}
.sidebar.sidebar-additional {
  display: none;
}
.product.attribute.sku {
  font-size: medium !important;
}
.product-item {
  position: relative;
  top: 15px;
}
.opc-block-summary .product-item .product-item-inner {
  display: table;
  margin: 12px 0px 11.5px;
  width: 100%;
}

