.product.attribute.overview {
  font-weight: bold;
}
.value {
  font-weight: bold;
}
.filter-options-item.allow.active {
  display: none !important;
}
.sidebar.sidebar-additional {
  display: none;
}

