<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <iwd_opc>
            <general>
                <enable>0</enable>
                <checkout_suite_design>1</checkout_suite_design>
            </general>
            <extended>
                <title>Checkout</title>
                <use_iwd_checkout_experience>1</use_iwd_checkout_experience>
                <show_discount>1</show_discount>
                <show_comment>1</show_comment>
                <show_gift_message>1</show_gift_message>
                <show_subscribe>1</show_subscribe>
                <subscribe_by_default>0</subscribe_by_default>
                <payment_title_type>logo_title</payment_title_type>
                <reload_shipping_methods_on_discount>0</reload_shipping_methods_on_discount>
                <show_all_ship_methods>0</show_all_ship_methods>
            </extended>
            <restrict_payment>
                <enable>0</enable>
            </restrict_payment>
            <ga_ab_test>
                <enable>0</enable>
            </ga_ab_test>
            <design>
                <layout>
                    <desktop>onepage</desktop>
                    <mobile>onepage</mobile>
                    <tablet>onepage</tablet>
                    <address_type_order>shipping_first</address_type_order>
                </layout>
                <style>
                    <font_family>Open+Sans</font_family>
                    <page_background>FFFFFF</page_background>
                    <sidebar_background>F5F5F5</sidebar_background>
                    <heading_text_color>000000</heading_text_color>
                    <body_text_color>333333</body_text_color>
                    <link_color>006BB4</link_color>
                    <input_highlight_color>00699B</input_highlight_color>
                    <primary_btn_background>1979C3</primary_btn_background>
                    <primary_btn_text_color>FFFFFF</primary_btn_text_color>
                    <secondary_btn_background>333333</secondary_btn_background>
                    <secondary_btn_text_color>FFFFFF</secondary_btn_text_color>
                </style>
            </design>
        </iwd_opc>
    </default>
</config>
